.sidebar {
    -fx-background-color: #ffffff;
    -fx-padding: 10 0 10 0;
    -fx-background-radius: 0 10 10 0;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.06), 8, 0, 2, 0);
}

.sidebar_btn {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-border-width: 0;
    -fx-cursor: hand;
    -fx-alignment: center;
    -fx-pref-width: 60px;
    -fx-pref-height: 40px;
}

.sidebar_icon {
    -fx-fill: #999999;
    -fx-font-size: 1.3em;
}

.sidebar_btn:hover .sidebar_icon {
    -fx-fill: #333333;
}

.active_icon {
    -fx-fill: #121047;
}